<?xml version="1.0"?>
<!--
/**
 * Carousels
 *
 * @package    Zen_All
 * @author     Zent Magento Team <>
 * @copyright  Copyright (c) 2015 Zen http://www.zen.com
 */
-->
<config>
    <modules>
        <Zen_All>
            <version>1.5.3</version>
        </Zen_All>
    </modules>
    <adminhtml>
        <layout>
            <updates>
                <zen_all_color>
                    <file>zen_all.xml</file>
                </zen_all_color>
            </updates>
        </layout>
    </adminhtml>
    <global>
        <models>
            <zen_all>
                <class>Zen_All_Model</class>
            </zen_all>
            <ajaxcartpro>
                <rewrite>
                    <renderer>Zen_All_Model_Ajaxcartpro_Renderer</renderer>
                </rewrite>
            </ajaxcartpro>
        </models>
        <resources>
            <zen_all_setup>
                <setup>
                    <module>Zen_All</module>
                    <class>Mage_Eav_Model_Entity_Setup</class>
                </setup>
            </zen_all_setup>
        </resources>
        <blocks>
            <zen_all>
                <class>Zen_All_Block</class>
            </zen_all>
            <core>
                <rewrite>
                    <html_select>Zen_All_Block_Html_Select</html_select>
                    <messages>Zen_All_Block_Core_Messages</messages>
                </rewrite>
            </core>
            <banner>
                <rewrite>
                    <adminhtml_banner_edit_tab_form>Zen_All_Block_Banner_Adminhtml_Banner_Edit_Tab_Form</adminhtml_banner_edit_tab_form>
                    <adminhtml_bannergroup_edit_tab_form>Zen_All_Block_Banner_Adminhtml_Bannergroup_Edit_Tab_Form</adminhtml_bannergroup_edit_tab_form>
                </rewrite>
            </banner>
            <adminhtml>
                <rewrite>
                    <widget_grid_column_renderer_massaction>Zen_All_Block_Adminhtml_Widget_Grid_Column_Renderer_Massaction</widget_grid_column_renderer_massaction>
                    <newsletter_problem_grid_filter_checkbox>Zen_All_Block_Adminhtml_Newsletter_Problem_Grid_Filter_Checkbox</newsletter_problem_grid_filter_checkbox>
                    <widget_grid_column_renderer_checkbox>Zen_All_Block_Adminhtml_Widget_Grid_Column_Renderer_Checkbox</widget_grid_column_renderer_checkbox>
                    <newsletter_subscriber_grid_filter_checkbox>Zen_All_Block_Adminhtml_Newsletter_Subscriber_Grid_Filter_Checkbox</newsletter_subscriber_grid_filter_checkbox>
                    <widget_grid_column_filter_date>Zen_All_Block_Adminhtml_Widget_Grid_Column_Filter_Date</widget_grid_column_filter_date>
                    <widget_grid_column_filter_datetime>Zen_All_Block_Adminhtml_Widget_Grid_Column_Filter_Datetime</widget_grid_column_filter_datetime>
                    <page_menu>Zen_All_Block_Adminhtml_Page_Menu</page_menu>
                </rewrite>
            </adminhtml>
            <amorderattr>
                <rewrite>
                    <fields>Zen_All_Block_Orderattr_Fields</fields>
                </rewrite>
            </amorderattr>
        </blocks>
        <helpers>
            <zen_all>
                <class>Zen_All_Helper</class>
            </zen_all>
        </helpers>
        <resources>
            <zen_all_setup>
                <setup>
                    <module>Zen_All</module>
                </setup>
            </zen_all_setup>
        </resources>
        <template>
            <email>
                <sales_email_shipment_template translate="label" module="sales">
                    <file>sales/shipment_new_custom.html</file>
                </sales_email_shipment_template>
                <sales_email_shipment_guest_template translate="label" module="sales">
                    <file>sales/shipment_new_guest_custom.html</file>
                </sales_email_shipment_guest_template>
            </email>
        </template>
        <events>
            <catalog_product_prepare_save>
                <observers>
                    <super_product_attributes_prepare_save>
                        <type>disabled</type>
                    </super_product_attributes_prepare_save>
                    <super_product_attributes_prepare_save_override>
                        <class>zen_all/observer</class>
                        <method>onSuperProductAttributesPrepareSave</method>
                    </super_product_attributes_prepare_save_override>
                </observers>
            </catalog_product_prepare_save>
        </events>
    </global>
    <frontend>
        <layout>
            <updates>
                <zen_all>
                    <file>zen_all.xml</file>
                </zen_all>
            </updates>
        </layout>
        <routers>
            <deal>
                <use>standard</use>
                <args>
                    <module>Zen_All</module>
                    <frontName>recomendation</frontName>
                </args>
            </deal>
            <zen_all>
                <use>standard</use>
                <args>
                    <module>Zen_All</module>
                    <frontName>all</frontName>
                </args>
            </zen_all>
        </routers>
        <checkout>
            <args>
                <modules>
                    <zen_all before="Mage_Checkout">Zen_All</zen_all>
                </modules>
            </args>
        </checkout>
        <events>
            <controller_action_layout_render_before>
                <observers>
                    <ecomtize_all_render_before>
                        <class>zen_all/observer</class>
                        <method>renderBefore</method>
                    </ecomtize_all_render_before>
                </observers>
            </controller_action_layout_render_before>
        </events>
    </frontend>
    <admin>
        <routers>
            <banner>
                <args>
                    <modules>
                        <zen_all before="Uni_Banner">Zen_All_Adminhtml</zen_all>
                    </modules>
                </args>
            </banner>
            <adminhtml>
                <args>
                    <modules>
                        <zen_all after="Mage_Adminhtml">Zen_All</zen_all>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <stores>
        <admin>
            <design>
                <package>
                    <name>default</name>
                </package>
                <theme>
                    <template>eco</template>
                    <skin>eco</skin>
                    <layout>eco</layout>
                </theme>
            </design>
        </admin>
    </stores>
    <crontab>
        <jobs>
            <zen_synchronize>
                <schedule>
                    <cron_expr>0 0 * * *</cron_expr>
                </schedule>
                <run>
                    <model>zen_all/observer::synchronize</model>
                </run>
            </zen_synchronize>
        </jobs>
    </crontab>
</config>