<?xml version="1.0"?>
<config>
    <modules>
        <Ecomitize_Popup>
            <version>0.0.1</version>
        </Ecomitize_Popup>
    </modules>
    <frontend>
        <routers>
            <Ecomitize_Popup>
                <use>standard</use>
                <args>
                    <module>Ecomitize_Popup</module>
                    <frontName>popup</frontName>
                </args>
            </Ecomitize_Popup>
        </routers>
    </frontend>
    <adminhtml>
        <layout>
            <updates>
                <ecomitize_all>
                    <file>ecomitize_popup.xml</file>
                </ecomitize_all>
            </updates>
        </layout>
    </adminhtml>
    <global>
        <blocks>
            <ecomitize_popup>
                <class>Ecomitize_Popup_Block</class>
            </ecomitize_popup>
        </blocks>
        <helpers>
            <ecomitize_popup>
                <class>Ecomitize_Popup_Helper</class>
            </ecomitize_popup>
        </helpers>
        <models>
            <ecomitize_popup>
                <class>Ecomitize_Popup_Model</class>
            </ecomitize_popup>
        </models>
    </global>
</config>