<?xml version="1.0"?>
<config>
    <modules>
        <Zen_Popup>
            <version>0.0.1</version>
        </Zen_Popup>
    </modules>
    <frontend>
        <routers>
            <Zen_Popup>
                <use>standard</use>
                <args>
                    <module>Zen_Popup</module>
                    <frontName>popup</frontName>
                </args>
            </Zen_Popup>
        </routers>
    </frontend>
    <adminhtml>
        <layout>
            <updates>
                <zen_all>
                    <file>zen_popup.xml</file>
                </zen_all>
            </updates>
        </layout>
    </adminhtml>
    <global>
        <blocks>
            <zen_popup>
                <class>Zen_Popup_Block</class>
            </zen_popup>
        </blocks>
        <helpers>
            <zen_popup>
                <class>Zen_Popup_Helper</class>
            </zen_popup>
        </helpers>
        <models>
            <zen_popup>
                <class>Zen_Popup_Model</class>
            </zen_popup>
        </models>
    </global>
</config>