.form-list:after,
.form-list > li:after,
.footer-nav:after,
.products-item:after,
.price-box:after,
.sorting:after,
.mini-cart .total:after,
.modal-content:after,
.cart-right:after,
.discount-coupon:after,
.wishlist-item .block-edit:after,
.configurable > li > a:after,
.additional-row > p > a:after,
.cart:after,
form label:after,
.input-box label:after,
.product-view .description-attributes:after,
.product-view-img:after,
.checkout.opc:after,
.discount-form:after,
.header-minicart .mini-products-list > .item:after,
.box-head:after,
#max_recipient_message:before,
.banners:after,
.opc:after,
.opc .section:after,
.opc-wrapper-opc:after,
.data-table .item-options:after,
.add-to-links:after,
.currently:after,
.box-content:after,
.block > .block-title:after,
.form-list .fields:after,
.form-list .fields:before,
.input-box:before,
.input-box:after,
.row-sorting:after,
.row-sorting:before,
.page-title:after,
h1:after,
.rating-star:after,
.widget-category-list:after,
.addresses-list > [class*='col-']:after,
.addresses-list:after,
.row-pagination:before,
.row-pagination:after,
.buttons-set:after,
.range-min-max:after,
.range-min-max:before,
[class*='filters-container']:after,
.account-nav .dropdown-menu .block:after,
.product-view .product-img-box .more-views .product-image-thumbs:after,
.tags-list:after,
.main:after,
.header-login-form:after,
.product-options:after {
    display: table;
    content: '';
    clear: both;
}