<?xml version="1.0"?>
<config>
    <modules>
        <Ecomitize_Attributenav>
            <version>0.0.1</version>
        </Ecomitize_Attributenav>
    </modules>
    <global>
        <blocks>
            <ecomitize_attributenav>
                <class>Ecomitize_Attributenav_Block</class>
            </ecomitize_attributenav>
        </blocks>
        <models>
            <ecomitize_attributenav>
                <class>Ecomitize_Attributenav_Model</class>
            </ecomitize_attributenav>
        </models>
        <helpers>
            <ecomitize_attributenav>
                <class>Ecomitize_Attributenav_Helper</class>
            </ecomitize_attributenav>
        </helpers>
    </global>
    <frontend>
        <routers>
            <attribute>
                <use>standard</use>
                <args>
                    <module>Ecomitize_Attributenav</module>
                    <frontName>attribute</frontName>
                </args>
            </attribute>
        </routers>
        <layout>
            <updates>
                <ecomitize_attributenav>
                    <file>ecomitize_attributenav.xml</file>
                </ecomitize_attributenav>
            </updates>
        </layout>
    </frontend>
</config>
