<?xml version="1.0"?>
<config>
    <modules>
        <Zen_Tab>
            <version>0.1.0</version>
        </Zen_Tab>
    </modules>
    <global>
        <blocks>
            <zen_tab>
                <class>Zen_Tab_Block</class>
            </zen_tab>
        </blocks>
        <helpers>
            <zen_tab>
                <class>Zen_Tab_Helper</class>
            </zen_tab>
        </helpers>
        <models>
            <zen_tab>
                <class>Zen_Tab_Model</class>
            </zen_tab>
            <widget>
                <rewrite>
                    <widget_instance>Zen_Tab_Model_Widget_Widget_Instance</widget_instance>
                </rewrite>
            </widget>
        </models>
        <events>
            <widget_widget_instance_save_before>
                <observers>
                    <zen_tab>
                        <class>zen_tab/observer</class>
                        <method>saveBefore</method>
                    </zen_tab>
                </observers>
            </widget_widget_instance_save_before>
        </events>
    </global>
</config>