/* nav */

.nav .open > a {
    border: 0;
}

.navbar {
    min-height: 0;
    margin-bottom: 0;
    border-radius: 0;
    border: 0;
}

.nav-pills > li + li {
    margin-left: 0;
}

/**/

/* nav inline class .nav-inline */

.header-top .links {
    float: left;
}

.header-top .links,
.nav.nav-inline {
    padding: 0;
    margin: 0;
    display: inline-block;
}

.header-top .links > li,
.nav.nav-inline > li {
    position: relative;
    float: left;
}

.header-top .links > li > a,
.nav.nav-inline > li > a {
    display: block;
}

.nav.nav-inline > li > a:hover,
.nav.nav-inline > li > a:hover {
    cursor: pointer;
}

/**/

/* .dropdown + .dropdown-menu everywhere */

.dropdown-menu,
.dropdown > .dropdown-wrap {
    left: 0;
    display: none;
    background-color: #fff;
    min-width: 0;
    border-radius: 0;
}

@media (min-width: 767px) {
    .dropdown > .dropdown-wrap {
        position: absolute;
        border: 1px solid rgba(0, 0, 0, 0.1);
        -webkit-box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.1);
        box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.1);
    }
}

@media (max-width: 767px) {
    .dropdown > .dropdown-wrap,
    .dropdown-menu {
        -webkit-box-shadow: none!important;
        box-shadow: none!important;
    }
}

.dropdown > .dropdown-wrap .dropdown-menu {
    position: relative!important;
    left: auto!important;
    top: auto!important;
    margin: 0!important;
    padding: 0!important;
    display: block!important;
}

.dropdown-menu .dropdown > .dropdown-wrap {
    left: 100%;
    top: 0;
}

.dropdown-menu > li > a,
.dropdown-menu > li .dropdown-menu li a {
    display: block;
    padding: 10px 15px;
}

.dropdown-menu > li > a:focus,
.dropdown-menu > li > a:hover,

.dropdown-menu > .active > a,
.dropdown-menu > .active > a:focus,
.dropdown-menu > .active > a:hover {
    color: inherit;
    background-color: #f5f5f5;
    text-decoration: none;
}

.dropdown-menu .input-box.last {
    margin-bottom: 0;
}

.dropdown-menu .dropdown-menu {
    top: 0;
    margin: 0;
}

@media (min-width: 767px) {
    .dropdown-menu .dropdown-menu {
        left: 100%;
    }
    div.dropdown-menu {
        min-width: 400px;
        padding: 20px;
    }
}

.dropdown-menu .dropdown-menu.pull-right {
    left: auto;
    right: 100%;
}

.navbar .open > .dropdown-wrap {
    display: block;
}

/* nav standard nav-pills block account */

.block-account > .block-content > ul > li > a,
.block-account > .block-content > ul > .current > strong {
    position: relative;
    display: inline-block;
    font-weight: normal;
    /**/
    padding: 7px 15px;
}

.block-account > .block-content > ul > li > a:hover,
.block-account > .block-content > ul > .current > strong {
    background-color: transparent;
    border-color: transparent;
}