body {
    height: auto !important;
    min-height: 100%;
    position: relative;
    overflow-x: hidden;
    padding-right: 0!important;
    /**/
    color: #333;
}

html,
body,
input,
button,
select,
textarea {
    font-family: sans-serif;
}

ol,
ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

ol > li.last p {
    margin-bottom: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: inherit;
    font-weight: 600;
    text-transform: uppercase;
}

.page-title h1,
.modal h1 {
    margin-top: 0;
}

label {
    font-weight: normal;
}

.page-title.title-buttons h1 {
    float: left;
}

.page-title.title-buttons h1 + button {
    margin-bottom: 20px;
}

.page-title.title-buttons > button,
.page-title.title-buttons > .button,
.page-title.title-buttons > a {
    float: right;
    margin-left: 15px;
}

.page-title.title-buttons .separator {
    display: none;
}

input:-webkit-autofill,
input:focus:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px white inset;
}

input,
textarea {
    -webkit-appearance: none!important;
}

a,
a:hover,
a:active,
a:focus {
    color: #333;
}

@media (max-width: 767px) {
    a,
    a:hover,
    a:active,
    a:focus {
        cursor: pointer;
    }
}

a,
a:hover,
a:active,
a:focus,
a img,
img,
a,
button,
button:active,
button:focus,
input,
textarea,
select,
:focus {
    outline: none !important;
}

.link-tip,
p.f-left a {
    text-decoration: underline;
}

.link-tip:focus,
.link-tip:hover,
p.f-left a:focus,
p.f-left a:hover {
    text-decoration: none;
}

label em {
    display: inline-block;
    font-style: normal;
    margin-left: 5px;
    margin-right: 5px;
    float: right;
    color: red;
}

.no-display {
    display: none;
}

.nobr {
    white-space: nowrap;
}

.text-required {
    color: #bc0117;
}

.a-center {
    text-align: center;
}

.a-right {
    text-align: right;
}

.text-white {
    color: #fff!important;
}

.relative {
    position: relative;
}

.col-centered {
    float: none;
    position: relative;
    margin: 0 auto;
}

dl {
    margin-bottom: 0;
}

.block li > p {
    line-height: 1;
}

.cart-empty a {
    text-decoration: underline;
}

.delete-email {
    text-align: right;
}

.label {
    color: inherit;
    font-size: inherit;
    line-height: inherit;
    white-space: inherit;
    text-align: inherit;
    border-radius: inherit;
    padding: inherit;
}

.empty,
.cart-empty,
.no-items,
.logged-out {
    text-align: center;
    padding: 15px 0;
}

.main {
    padding-bottom: 15px;
    padding-top: 15px;
}

/* flexbox sticky footer */

.wrapper,
.wrapper > .page {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.wrapper .content-wrapper {
    flex: 1 0 auto;
}

/**/

/* cols */

@media (min-width: 767px) {
    .main-container .main {
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        position: relative;
        margin: 0 -15px;
    }

    .main-container .main > .col-left,
    .main-container .main > .col-right,
    .main-container .main > .col-main {
        padding: 0 15px;
    }

    .col1-layout .main > .col-main {
        width: 100%!important;
    }

    .col2-set {
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-flex-wrap: wrap;
        flex-wrap: wrap;
        position: relative;
        margin: 0 -15px;
    }

    .box-content .col2-set {
        margin: 0;
    }

    .col2-set > [class*='col-'] {
        width: 50%;
        padding: 0 15px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-flex-wrap: wrap;
        flex-wrap: wrap;
    }

    .col2-set > [class*='col-'] .box {
        width: 100%;
    }

    .col-left.collapse {
        display: block!important;
    }
}

@media (min-width: 1200px) {
    .main-container .main > .col-main {
        width: 75%;
    }
    .main-container .main > .col-left,
    .main-container .main > .col-right {
        width: 25%;
    }

    .main-container.col3-layout .main > .col-main {
        width: 50%;
    }
    .main-container.col3-layout .main > .col-left,
    .main-container.col3-layout .main > .col-right {
        width: 25%;
    }
}

@media (min-width: 991px) and (max-width: 1200px) {
    .main-container .main > .col-main {
        width: 70%;
    }
    .main-container .main > .col-left,
    .main-container .main > .col-right {
        width: 30%;
    }

    .main-container.col3-layout .main > .col-main {
        width: 50%;
    }
    .main-container.col3-layout .main > .col-left,
    .main-container.col3-layout .main > .col-right {
        width: 25%;
    }
}

@media (min-width: 767px) and (max-width: 991px) {
    .main-container .main > .col-main {
        width: 65%;
    }
    .main-container .main > .col-left,
    .main-container .main > .col-right {
        width: 35%;
    }

    .main-container.col3-layout .main > .col-main {
        width: 50%;
    }
    .main-container.col3-layout .main > .col-left,
    .main-container.col3-layout .main > .col-right {
        width: 25%;
    }

    .main-container.col3-layout {
        width: auto!important;
    }
}

/**/

/* breadcrumb */

.breadcrumb {
    font-size: 11px;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    background-color: transparent;
    border-radius: 0;
    margin-bottom: 0;
    margin-top: 10px;
}

.breadcrumb a,
.breadcrumb a:active,
.breadcrumb a:focus,
.breadcrumb > .active {
    color: #747474;
}

/**/

/* blocks and box */

.block,
.box,
.addresses-list [class*='col-'] {
    margin-bottom: 30px;
    background-color: #fff;
    padding: 18px 22px;
    position: relative;
}

@media (min-width: 767px) {
    .block,
    .box,
    .addresses-list [class*='col-'] {
        -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
        box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
        border: 1px solid #000;
    }
}

.block > .block-title,
.box > .box-title {
    width: 100%;
    line-height: 1;
    margin-bottom: 10px;
    -ms-box-orient: horizontal;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.block > .block-title > h3,
.box > .box-title > h3,
.block > .block-title > h2,
.box > .box-title > h2 {
    margin: 0;
    padding: 0;
}

@media (min-width: 767px) {
    .block > .block-title > h3,
    .box > .box-title > h3,
    .block > .block-title > h2,
    .box > .box-title > h2 {
        float: left;
    }
}

.block > .block-title > a,
.box > .box-title > a {
    float: right;
    font-weight: normal;
    text-transform: none;
    text-align: right;
}

.block > .block-content,
.box > .box-content {
    padding: 0;
}

.box address,
.box p:last-child {
    margin-bottom: 0!important;
}

.block > .block-content > .actions {
    text-align: center;
    position: relative;
}

.box-head h2 {
    float: left;
}

.box-head a {
    float: right;
    margin-left: 10px;
    display: inline-block;
}

.media {
    margin-top: 0;
    margin-bottom: 15px;
}

@media (min-width: 767px) {

    .box-content [class*='col-'] {
        width: 50%;
        float: left;
        padding-left: 10px;
        padding-right: 10px;
        position: relative;
    }

    .box-content [class*='col-']:nth-child(odd) {
        margin-left: -10px;
    }

    .box-content [class*='col-']:nth-child(even) {
        margin-right: -10px;
    }

    .order-info-box {
        position: relative;
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-flex-wrap: wrap;
        flex-wrap: wrap;
        margin: 0 -10px;
    }

    .order-info-box > [class*='col-'] {
        position: relative;
        padding: 0 10px;
        width: 50%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
    }

    .order-info-box > [class*='col-'] .box {
        width: 100%;
    }

    .addresses-list {
        margin-top: 15px;
    }

    @media (min-width: 767px) {
        .addresses-list > [class*='col-'] ol > li {
            float: left;
            width: 50%;
        }
    }

}

/**/

/* tags bock */

.tags-list > li {
    float: left;
    padding: 5px;
}

/**/

/* pagination */

.row-pagination {
    text-align: center;
}

.pagination {
    margin-top: 15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
}

@media (min-width: 767px) {
    .pagination {
        justify-content: flex-end;
    }
    .pagination > li > a,
    .pagination > li > span {
        background-color: transparent;
    }
}

@media (max-width: 767px) {
    .pagination > li {
        -webkit-box-flex: 1;
        -ms-flex-positive: 1;
        flex-grow: 1;
        float: none;
    }

    .pagination > li > a,
    .pagination > li > span {
        display: block;
        float: none;
        width: 100%;
        height: 40px;
        padding: 9px 12px;
        margin: 0;
        border: 0;
        background-color: rgba(0, 0, 0, 0.1);
    }
}

.pagination > li > a,
.pagination > li > span {
    color: inherit;
    border-color: #ccc;
}

.pagination > li > a:hover,
.pagination > li > span:hover,
.pagination > li > a:focus,
.pagination > li > span:focus {
    background-color: transparent;
    color: #31a348;
    border-color: #31a348;
}

.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
    background-color: #31a348;
    color: #fff;
    border-color: #31a348;
}

/* alerts */

.global-site-notice {
    position: fixed;
    z-index: 9999;
    text-indent: -9999px;
    top: 10px;
    right: 10px;
    width: 10px;
    height: 10px;
    border-radius: 100%;
}

.global-site-notice:hover {
    text-indent: 0;
    top: 0;
    right: 0;
    left: 0;
    width: auto;
    height: auto;
    border-radius: 0;
}

.global-site-notice {
    background-color: #31a348;
    color: #fff;
    text-align: center;
    padding: 5px 0;
}

.opc-messages {
    display: none;
}

.messages,
.opc-messages {
    position: fixed;
    z-index: 99999 !important;
    bottom: 20px;
    right: 20px;
    max-width: 300px;
}

@media (max-width: 767px) {
    .messages,
    .opc-messages {
        left: 20px;
        right: 20px;
        bottom: 20px;
        top: auto;
        border-radius: 0;
        max-width: 100%;
    }
}

.messages > li {
    margin-top: 20px;
    color: #fff!important;
}

.modal-body .messages {
    position: static!important;
    right: auto!important;
    bottom: auto!important;
    left: auto!important;
    top: auto!important;
    opacity: 1!important;
    max-width: 100%;
    margin-bottom: 15px;
}

.modal-body .messages > li {
    margin-top: 0;
    color: #fff!important;
}

.messages a,
.messages a:hover,
.messages a:focus {
    text-decoration: underline;
    color: #fff;
}

.opc-messages,
.error-msg,
.success-msg,
.notice-msg,
.alert {
    padding: 15px 25px;
    font-size: 1.2em;
    font-weight: 300;
    text-align: center;
    background-color: #31a348;
    color: #fff;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-name: shake;
    animation-name: shake;
}

.limit {
    padding-top: 15px;
}

[class*='error-'],
.limit,
.error {
    color: red;
}

/* popover */

.popover {
    border-color: #d8d8d8;
    border-radius: 0;
    -webkit-box-shadow: 0 3px 3px rgba(0, 0, 0, .05);
    box-shadow: 0 3px 3px rgba(0, 0, 0, .05);
    padding: 0;
    color: inherit;
}

.popover .popover-title {
    border-radius: 0;
    background-color: transparent;
    border-color: transparent;
}

.popover ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

.popover ul > li {
    padding: 2px 0;
}

.popover ul > li > b {
    display: inline-block;
    margin-right: 5px;
}

.popover ul > li > b:after {
    content: ':';
}

/**/

/* sitemap */

.page-sitemap .sitemap,
.page-sitemap .links {
    list-style: none;
    padding: 0;
    margin: 0;
}

.page-sitemap .sitemap {
    margin: 15px 0;
}

.page-sitemap .sitemap .level-0 {
    font-size: 130%;
}

.page-sitemap .sitemap .level-0 a {
    color: inherit;
}

.page-sitemap .sitemap .level-1 {
    font-size: 110%;
    font-weight: bold;
}

.page-sitemap .sitemap-nav {
    margin: 10px 0;
}

/**/

/* owl */

.master-slider .ms-nav-prev,
.master-slider .ms-nav-next,
.owl-carousel .owl-prev,
.owl-carousel .owl-next {
    position: absolute;
    top: 0!important;
    bottom: 0;
    left: 0;
    margin: 0!important;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    -ms-justify-content: center;
    justify-content: center;
}

.owl-carousel .owl-next,
.master-slider .ms-nav-next {
    left: auto;
    right: 0;
}

.master-slider .ms-nav-prev:before,
.master-slider .ms-nav-next:before,
.owl-carousel .owl-prev:before,
.owl-carousel .owl-next:before {

}

.owl-carousel .owl-prev.disabled,
.owl-carousel .owl-next.disabled {
    opacity: 0.2;
    cursor: default;
}

/**/