a,
button,
input,
select,
textarea,
.container,
.row,
[class*='col-'],
[class^='col-'],
.navbar,
.navbar .navbar-nav > li,
.form-list .fields,
.form-list .fields .field,
.opc .section,
.opc .section .step,
.form-search .input-text,
.form-search .input-group-btn .button,
.products-item .add-to-links,
.fancybox-close,
.fancybox-nav,
.fancybox-nav span,
.ajaxcartpro-add-confirm a,
.ajaxcartpro-add-confirm span,
.footer-nav > ul > li > a:after {
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}