/* section products owl */

.section-products {
    margin: 25px 0;
    display: block;
}

.section-products .section-title {

}

.section-products .owl-carousel .owl-stage {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
}

/* section products page */

.section-products .product-description {
    display: none;
}

.section-products.related-product .item {
    padding-top: 10px;
}

.section-products .container {
    position: relative;
}

/* section brands */

.section-products.section-brands .owl-carousel .owl-item img {
    display: block;
    width: 70%;
    margin: 0 auto;
    position: relative;
}

/**/

/* products sticker */

.products-sticker {
    display: block;
    position: absolute;
    z-index: 98;
    top: 0;
    right: 0;
    background-color: #fe5d48;
    white-space: nowrap;
    padding: 2px 10px;
    font-size: 14px;
    color: #fff;
    text-transform: uppercase;
}

@media (max-width: 767px) {
    .products-sticker {
        top: 0;
        right: 10px;
    }
}

.products-sticker:after {
    content: '';
    display: inline-block;
    position: absolute;
    top: 100%;
    left: 5px;
    border-left: 0;
    border-right: 7px solid transparent;
    border-top: 9px solid #fe5d48;
}

/**/

/* toolbar */

.toolbar label {
    padding-right: 15px;
}

.toolbar-footer .toolbar {
    margin-top: 30px;
    margin-bottom: 0;
}

.toolbar .toolbar-pager {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    position: relative;
    margin: 0 -10px;
}

.toolbar .toolbar-pager > .pager,
.toolbar .toolbar-pager > .pager > .limiter,
.toolbar .toolbar-pager > .sort-by {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    white-space: nowrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    margin: 0;
}

.toolbar .toolbar-pager > .pager > .limiter {
    padding-left: 0;
}

.toolbar .toolbar-pager > .pager,
.toolbar .toolbar-pager > .sort-by,
.toolbar .toolbar-pager > .filter {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    padding: 0 10px;
}

.toolbar .toolbar-pager > .sort-by {
    padding-right: 0;
}

.toolbar .toolbar-pager > .filter {
    padding-left: 0;
}

.toolbar .sorter label {
    display: none;
}

.toolbar .sorter .toolbar-button span,
.toolbar .pager .amount {
    display: none;
}

.toolbar .button > i {
    margin: 0;
}

.toolbar .button:not(.active):not(.btn-filter),
.toolbar .button:not(.active):not(.btn-filter):active,
.toolbar .button:not(.active):not(.btn-filter):focus {
    background-color: transparent;
    border-color: transparent;
    box-shadow: none;
}

.toolbar .sort-by select,
.toolbar .sort-by a,
.toolbar .sort-by label {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: auto;
}

.toolbar .sort-by select {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
}

.toolbar .button:not(.active) > i {
    color: #31a348;
}

/* mini-products-list */

.mini-products-list > .item,
.mini-products-list > .item .product-details {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
}

.mini-products-list > .item {
    border-bottom: 1px solid transparent;
    padding: 15px 0;
}

.mini-products-list > .item > .product-image {
    width: 20%;
}

.mini-products-list > .item > .product-details {
    width: 80%;
    padding-left: 15px;
    -webkit-justify-content: space-between;
    justify-content: space-between;
}

.mini-products-list > .item > .product-image > img {
    width: 100%;
    height: auto;
    display: block;
}

.mini-products-list > .item .product-details .product-name {
    padding-right: 10%;
    width: 100%;
}

.mini-products-list > .item .product-details .product-name > a {
    line-height: 1;
    display: block;
}

/* category description */

.row-category-description {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    margin-bottom: 15px;
}

.row-category-description .category-image {
    width: 30%;
}

.row-category-description .category-image + .category-description {
    padding-left: 15px;
    width: 70%;
}

.row-category-description .category-image img {
    display: block;
    width: 100%;
}

/* products grid */

.category-row {
    position: relative;
}

.category-row.products-grid,
.section-products .owl-carousel .owl-item,
.category-row.products-grid > .category-item,
.section-products .item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
}

.category-row.products-grid .add-to-cart,
.section-products .products-item .add-to-cart {
    -ms-flex-item-align: end;
    align-self: flex-end;
    width: 100%;
}

.category-row.products-grid > .category-item > .products-item {
    position: relative;
}

@media (max-width: 767px) {

    .category-row.products-grid {
        position: relative;
        margin: 0 -15px;
    }

    .category-row.products-grid > .category-item:nth-child(even) {
        border-right: 0;
    }

    .category-row.products-grid > .category-item {
        width: 50%;
    }

    .category-row.products-list {
        position: relative;
        margin: 0 -15px;
    }

}

@media (min-width: 767px) and (max-width: 1200px) {
    .category-row.products-grid > .category-item {
        width: 50%;
    }
}

@media (min-width: 991px) and (max-width: 1200px) {
    .category-row.products-grid > .category-item {
        width: 33.33333333%;
    }
    .col3-layout .category-row.products-grid > .category-item {
        width: 50%;
    }
}

@media (min-width: 1200px) {

    .category-row.products-grid {
        margin: 0 -15px;
    }

    .category-row.products-grid > .category-item {
        width: 33.33333333%;
    }

    .col3-layout .category-row.products-grid > .category-item {
        width: 50%;
    }
}

/**/

/* products list */

.category-row {
    position: relative;
}

@media (min-width: 767px) {
    .category-row.products-list > .category-item > .products-item > .products-item-img {
        width: 30%;
    }

    .category-row.products-list > .category-item > .products-item > .product-shop {
        width: 70%;
        padding-left: 15px;
    }
}

/**/

/* product item */

.products-item {
    position: relative;
    text-align: left;
    overflow: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    /**/
    padding: 15px;
}

@media (max-width: 767px) {
    .products-item {
        padding: 10px;
    }
}

/* add to */

.add-to-links a {
    cursor: pointer;
}

.add-to-links > li > a > .added,
.add-to-links > li > .active > .add {
    display: none;
}

.add-to-links > li > .active > .added {
    display: inline-block;
}

.products-item .add-to-links {
    opacity: 0;
    left: 15px;
    top: 15px;
    position: absolute;
    z-index: 10;
}

.products-item:hover .add-to-links {
    opacity: 1;
}

@media (max-width: 767px) {
    .products-item .add-to-links {
        opacity: 1;
    }
}

.category-row.products-list .add-to-links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;

    align-items: center;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;

    margin-top: 15px;
    position: relative;
    top: auto;
    left: auto;
    opacity: 1;
}

.category-row.products-list .add-to-links a:before {

}

.products-item .button-remove {
    position: absolute;
    top: 0;
    right: 0;
}

/**/

.category-products {
    position: relative;
}

.products-item .product-name,
.products-item .product-name a,
.products-item .product-name a:visited {
    margin-bottom: 15px;
    width: 100%;
    font-size: inherit;
}

.related-product .item .checkbox {
    padding: 0 10px;
    margin-bottom: 0;
}

/* price box */

.products-item .price-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-bottom: 15px;
    width: 100%;
}

.products-item .price-box p {
    margin: 0;
}

.products-item .price-box p + a {
    width: 100%;
    display: block;
}

.price-box .price-label,
.price-box .label {
    font-size: 90%;
}

.products-item .price-box a {
    text-decoration: none;
}

.products-item .price-box > a .label {
    padding: 0;
    font-weight: inherit;
}

.products-item .price-box span {
    display: block;
}

.products-item .price-box > span {
    margin-bottom: 10px;
}

.simple-products-price,
.price-box .price,
.opc-wrapper-opc label .price,
.opc-wrapper-opc h5.grand_total .price,
.sp-methods ul > li > label > .price,
[id*='totals-'] .price {
    color: #31a348;
}

.price-box > .old-price > .price {
    text-decoration: line-through;
    color: inherit;
}

.map-popup .price-box {
    display: block;
}

/* price info */

.product-view .product-price-info {
    display: block;
    color: inherit;
}

.product-view .product-price-info:before {
    content: '*';
    display: inline-block;
    color: inherit;
}

.product-view > p.alert-price {
    display: none;
}

/* product view */

/* product view row col*/

.product-view .product-view-row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    position: relative;
    margin: 0 -15px;
}

.product-view .product-view-left {
    position: relative;
}

@media (min-width: 991px) {
    .product-view .product-view-left,
    .product-view .product-view-right {
        padding: 0 15px 25px;
    }
    .product-view .product-view-left {
        width: 50%;
    }
    .product-view .product-view-right {
        width: 50%;
    }
}

@media (max-width: 991px) {
    .product-view .product-view-left,
    .product-view .product-view-right {
        width: 100%;
        padding: 0 15px;
    }
    .product-view .product-view-right {
        margin-bottom: 15px;
    }
    .product-view .product-view-left {
        margin-bottom: 15px;
    }
}

/**/

/* item-quantity */

.qty-holder {
    display: block;
}

.qty-holder input {
    max-width: 60px;
    text-align: center;
}

label[for="qty"] {
    text-align: center;
    display: block;
}

.qty-group {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.qty-group .qty-group-addon,
.qty-group .qty {
    display: block;
    width: 33.33333333%;
    text-align: center;
}

.qty-group .qty {
    padding-left: 0;
    padding-right: 0;
}

/**/

.product-view .input-box > label {
    text-align: left;
    padding: 0;
    text-transform: uppercase;
}

.product-view .product-options select {
    text-transform: uppercase;
}

/* add to cart */

.product-view .add-to-box {
    margin-top: 15px;
}

.product-view .add-to-cart,
.modal-quick-view .add-to-cart {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.button.btn-cart {
    position: relative;
}

.button.btn-cart > span:before {
    display: inline-block;
    color: #fff;
    vertical-align: middle;
    top: -2px;
    margin-right: 10px;
}

@media (max-width: 767px) {
    .button.btn-cart > span:before {
        display: none!important;
    }
}

.section-products .button.btn-cart,
.category-row.products-grid .button.btn-cart,
.modal-quick-view .button.btn-cart {
    display: block;
    width: 100%;
}


@media (min-width: 767px) {
    .product-view .section-tab {
        margin-top: 15px;
    }
}

.product-view .section-tab .panel {
    -webkit-box-shadow: none;
    box-shadow: none;
}

.short-description {
    margin-top: 15px;
}

/* star rating */

.rating-row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: space-around;
    justify-content: space-around;
}

.rating-row .rating-col {
    text-align: center;
}

.icon-star {
    margin: 0 2px;
}

.icon-star {
    color: inherit;
    font-size: 22px;
    opacity: 0.5;
}

.product-view .icon-star {
    font-size: 30px;
}

.product-view .product-shop .icon-star {
    margin-bottom: 15px;
}

.icon-star.active {
    color: #31a348;
    opacity: 1;
}

@media (max-width: 767px) {
    .rating-star .icon-star {
        margin: 0;
    }
}

/**/

.product-view .btn-size-chart {
    padding: 0;
    color: #3791de;
    font-size: 11px;
    text-transform: none;
    margin: 0 11px;
    height: auto;
}

.product-view .item-quantity [class*='col-'],
.product-view .product-options .input-box > [class*='col-'] {
    padding: 0;
}

/* sharing */

.social-likes {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.social-likes > li {
    text-align: center;
}

.social-likes > li > a > i {
    font-size: 32px;
    top: 0;
    vertical-align: middle;
}

.social-likes > li > a > span {
    display: none;
    vertical-align: middle;
}

.social-likes > li > .link-email-friend > span {
    display: inline-block;
}

.social-likes > li > .link-email-friend > i {
    margin-right: 10px;
}

@media (min-width: 767px) {
    .social-likes > li {
        padding-right: 20px;
    }
}

@media (max-width: 767px) {
    .social-likes > li {
        padding: 0 10px;
    }
}

.social-likes > li a:hover,
.social-likes > li a:focus {
    text-decoration: none;
}

/**/

/* product-view price */

.product-pricing,
.product-view .tier-prices > li,
.product-view .price-box > .price-save {
    margin-bottom: 10px;
}

.product-view .price-box,
.product-view .tier-prices > li,
.product-view .price-box > span,
.product-view .price-box > p,
.product-view .price-box.map-info {
    display: block;
}

.product-view .price-box > .old-price {
    text-decoration: line-through;
}

.product-view .price-box > .old-price > .price-label {
    white-space: nowrap;
}

.price-save {
    display: block;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
}

.price-save .price-save-price > span:after {
    content: ': ';
}

.price-save-percent {
    margin-left: 10px;
}

/**/

/**/

/* add to */

.product-view .add-to-links {
    margin: 15px 0;
}

.add-to-links > li:not(:last-child) {
    margin-right: 15px;
}

.add-to-links > li > a {
    display: block;
    text-decoration: none;
}

.add-to-links > li > a.active:before {
    color: #31a348;
}

.add-to-links a:before {
    font-size: 20px;
    margin-right: 10px;
    top: 3px;
}

.product-view .add-to-links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.product-view .add-to-links > li {
    text-align: center;
}

@media (max-width: 767px) {
    .product-view .add-to-links > li {
        margin: 0;
        width: 50%;
    }

    [class*='product-options-'] .add-to-links > li > a:before,
    .wishlist-item .add-to-links > li > a:before {
        display: block;
        margin-bottom: 10px;
        margin-right: 0;
        text-align: center;
    }
}

.product-options {
    display: block;
    margin-bottom: 15px;
}

/**/

