<?xml version="1.0"?>
<!--
/**
 * The MIT License (MIT)
 *
 * Copyright (c) 2011-2014 Zen Ltd
 *
 * Permission is hereby granted, free of charge, to any person obtaining a copy
 * of this software and associated documentation files (the "Software"), to deal
 * in the Software without restriction, including without limitation the rights
 * to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
 * copies of the Software, and to permit persons to whom the Software is
 * furnished to do so, subject to the following conditions:
 *
 * The above copyright notice and this permission notice shall be included in
 * all copies or substantial portions of the Software.
 *
 * THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
 * IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
 * FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
 * AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
 * LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
 * OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN
 * THE SOFTWARE.
 */
-->

<config>
    <modules>
        <Zen_Roor>
            <version>0.1.0</version>
        </Zen_Roor>
    </modules>
    <global>
        <models>
            <zen_roor>
                <class>Zen_Roor_Model</class>
            </zen_roor>
        </models>
        <events>
            <core_layout_update_updates_get_after>
                <observers>
                    <roor_core_layout_update_updates_get_after>
                        <type>singleton</type>
                        <class>zen_roor/observer</class>
                        <method>addLayoutXml</method>
                    </roor_core_layout_update_updates_get_after>
                </observers>
            </core_layout_update_updates_get_after>
        </events>
    </global>
</config>
