<?xml version="1.0"?>
<config>
    <modules>
        <Zen_AjaxButtons>
            <version>0.0.0.1</version>
        </Zen_AjaxButtons>
    </modules>
    <frontend>
        <routers>
            <ajaxbuttons>
                <use>standard</use>
                <args>
                    <module>Zen_AjaxButtons</module>
                    <frontName>ajaxbuttons</frontName>
                </args>
            </ajaxbuttons>
            <catalog>
                <args>
                    <modules>
                        <zen_ajaxbuttons before="Mage_Catalog">Zen_AjaxButtons</zen_ajaxbuttons>
                    </modules>
                </args>
            </catalog>
            <wishlist>
                <args>
                    <modules>
                        <zen_ajaxbuttons before="Mage_Wishlist">Zen_AjaxButtons</zen_ajaxbuttons>
                    </modules>
                </args>
            </wishlist>
        </routers>
        <layout>
            <updates>
                <ajaxbuttons>
                    <file>ajax_buttons.xml</file>
                </ajaxbuttons>
            </updates>
        </layout>
    </frontend>
</config>